ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
nav {
  padding: 49px 65px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li:nth-child(1) img {
  border-radius: 50%;
}
nav ul li:nth-child(2) {
  display: flex;
}
nav ul li:nth-child(2) h5 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(97, 92, 92);
  margin-right: 19px;
}
nav ul li:nth-child(3) img:last-child {
  margin-left: 26px;
}
.search-container {
  border: 1px solid rgb(73, 71, 71);
  width: 475px; 
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container img {
  width: 36px;
  height: 36px;
  margin: 0 12px;
}
.search-container input {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(97, 92, 92);
}

body {
  margin: 0;
}
.banner {
  background-color: #b7bbbd;
  text-align: center;
  padding: 50px 0;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
}
.list {
  width: 100%;
  margin-top: 41px;
}
.list ul {
  width: 830px;
}
.list ul li {
}
.list ul li:not(:last-child) {
  margin-right: 20px;
  float: left;
}

.list ul li img {
  border-radius: 50%;
}
.list ul li h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: capitalize;
  color: rgb(148, 141, 141);
  font-size: 20px;
  letter-spacing: 0.1em;
}
.clearfix {
  clear: both;
}
.list h3 {
  text-align: center;
  text-transform: uppercase;
  color: #bababa;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 29px;
}
